*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
.classpath
.project
*.iml
.idea/
bin/
doc/

# allow the lib directory #
!code/lib/*.jar

# LaTex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz

# temporary files created by emacs and other unix editors #
*~
*#
