*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
.classpath
.project
*.iml
.idea/

# allow the lib directory #
!code/lib/*.jar

# LaTex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
